# Ignore all
*
# Unignore all sub dirs
!*/
!.gitignore
!LICENSE
!*.md
!*.go
!go.mod
!go.sum
!*.json
!*.csv
!.travis.yml
!*.pem
# For HTML
!*.html
!*.js
!*.css
!*.jpg
!*.png
!*.gif
# For Vue
!*.vue
# For Quasar App
examples/server/statics/*
!examples/server/statics/src/layouts/MyLayout.vue
